<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="pythonApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
    <script type="text/javascript">

        var pythonApp = angular.module("pythonApp", []);

        pythonApp.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.useXDomain = true;
            $httpProvider.defaults.headers.put = {
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',
                'Access-Control-Allow-Headers': 'Content-Type, X-Requested-With'
            };
            delete $httpProvider.defaults.headers.common['X-Requested-With'];
        }
        ]);

        pythonApp.factory('userRepository', function ($http) {
            return {
                getAllUsers: function () {
                    var url = "https://api.mongolab.com/api/1/databases/angularjs-intro/collections/users?apiKey=terrPcifZzn01_ImGsFOIZ96SwvSXgN9";
                    return $http.get(url);
                }
            }
        });

        pythonApp.service('userService', function ($http) {
            this.getAllUsers1 = function () {
                var url = "https://api.mongolab.com/api/1/databases/angularjs-intro/collections/users?apiKey=terrPcifZzn01_ImGsFOIZ96SwvSXgN9";
                return $http.get(url);
            };
        });

        pythonApp.factory('Exchange', function ($http) {
            return {
                getConvertsation: function () {
                    return $http.get("http://52.74.171.222:1234/getbrands");

                }
            }
        });

        pythonApp.controller('TradeCtrl', function ($scope, Exchange, userService, userRepository) {

            Exchange.getConvertsation().then(function (result) {
                $scope.conversation = result.convertsation;
            });

            userRepository.getAllUsers().success(function (data) {
                $scope.userRepositoryUsers = data;
            });

            userService.getAllUsers1().success(function (users1) {
                $scope.users1 = users1;
            });

        });
    </script>
</head>
<body>
<div ng-controller="TradeCtrl">
    {{conversation}}
    <br />
    {{users1}}</div>
</body>
</html>
